BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "quadA" SITE "27" ;
LOCATE COMP "quadB" SITE "28" ;
LOCATE COMP "sck" SITE "9" ;
LOCATE COMP "miso" SITE "10" ;
LOCATE COMP "ssel" SITE "8" ;
LOCATE COMP "mosi" SITE "17" ;
LOCATE COMP "dir" SITE "5" ;
LOCATE COMP "step" SITE "4" ;
